*{
    margin: 0;
    padding: 0;
}
body{
    height: 50vh;
}
.sec1 , .sec1>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    background-color: royalblue;
    padding: 1rem 3rem;
    color: white;
    border: none;
    font-size: x-large;
}
@media only screen and (max-width: 600px) {
    body{
        background-color: gainsboro;
    }
    footer{
        display: none;
    }
    header{
        height: 10vh;
        background-color: #9d9d9d;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:space-between ;
        padding: 0 2rem;
    }
    header>div>h1{
        display: none;
    }
    .burgerMenue{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .burgerMenue>div{
        background-color: black;
        width: 10vw;
        height: 1px;
    }
    main{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
    }
    .sec1{
        gap: 1vh;
        font-size: x-large;
        margin: 1rem;
    }
    .sec1>div{
        gap: 1vh;
    }
    .pink{
        grid-area: Pinkg;
        background-color: #df2ccd;
        
    }
    .black{
        grid-area: blackg;
        background-color: black;
    }
    .blue1{
        grid-area: blue1;
        background-color: royalblue;
    }
    .blue2{
        grid-area: blue2;
        background-color: royalblue;
    }

    .sec2{
        padding: 2rem 1rem;
        height: 50vh;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-areas: 'Pinkg Pinkg'
        'blue1 blue2'
        'blackg blackg';
    }
    .sec2>div{
        margin: 1rem;
    }

}

/* ************************************************************************************************ */

@media only screen and (min-width: 601px) {

    header{
        background-color: black;
        height: 10vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 3rem;
        color: white;
    }
    .burgerMenue{
        display: none;
    }
    header>div{
        width: 50vw;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    main{
        /* height: 50vh; */
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        padding: 3rem;
    }

    /* section 1 in main */
    .sec1{
        gap: 10vh;
    }
    .sec1>div{
        gap: 5vh;
    }
    main>.sec1>div>p{
        font-size: x-large;
        text-align: center;
    }

    /* section 2 in  main */
    .sec2{
        position: relative;
        height: 60vh;
    }
    .blue1{
        position: absolute;
        left: 10%;
        background-color: royalblue;
        width: 10vw;
        height: 10vh;
        z-index: 4;
    }
    .blue2{
        position: absolute;
        background-color: royalblue;
        width: 10vw;
        height: 10vh;
        right: 25%;
        bottom: 0%;
        z-index: 3;
    }
    .pink{
        z-index: 1;
        left: 50%;
        right: -50%;
        top: 50%;
        bottom: -50%;
        transform: translate(-50% ,-50%);
        position: absolute;
        background-color: #df2ccd;
        height: 50vh;
        width: 40vw;
    }
    .black{
        position: absolute;
        z-index: 2;
        height: 40vh;
        width: 15vw;
        background-color: black;
        right: 10%;
        bottom: -50%;
        transform: translate(0 ,-50%);
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: white;
        background-color: black;
        height: 10vh;
        position: relative;
        top: 30%;
    }

}

